body{
    display: block;
    margin: 8px;
    background-color: #202124;
    overflow: hidden;
}
.frame{
    position: relative;
    margin: 0 auto;
    max-width: 600px;
    height: 200px;
    padding-top: 100px;
    height: 20%;
}
#dino{
    position: relative;
    top: 160px;
    height: 40px;
    width: auto;
}
.jump{
    animation: jump 0.7s cubic-bezier(0.65, 0.05, 0.36, 1); 
}

@keyframes jump {
    0%{
        top: 160px;
    }
    50%{
        top: 80px;
    }
    100%{
        top: 160px;
    }
}

#cactus {
    position: relative;
    top: 110px;
    left: 580px;
    animation: move 2s infinite linear;
    z-index: -1;
}
 
.ctex1{
    width: 25px;
    height: 40px;
    background-image: url(./Assests/cactus1.png);
    background-size: 25px 40px;
}

.ctex2{
    width: 55px;
    height: 40px;
    background-image: url(./Assests/cactus1.png);
    background-size: 25px 40px;
}

.ctex3{
    width: 15px;
    height: 25px;
    background-image: url(./Assests/cactus1.png);
    background-size: 15px 25px;
    transform: translate(0, 50%);
}

@keyframes move {
    0%{
        right: 0px;
    }
    100%{
        left: -20px;
    }
}

#floor, #floor2{
    position: relative;
    bottom: -30px;
    width: 100%;
    height: 100px;
    background-image: url(./Assests/floor.png);
    background-size: auto 100px;
    animation: scroll 2s infinite linear;
}

#floor2{
    display: none;
    transform: translate(0, -100%);
    animation-delay: 1s;
}
@keyframes scroll {
    0%{
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}