body{
    display: block;
    margin: 8px;
    background-color: #202124;
}
.frame{
    position: relative;
    margin: 0 auto;
    max-width: 600px;
    height: 200px;
    padding-top: 100px;
    height: 20%;
}
#dino{
    position: relative;
    top: 160px;
    height: 40px;
    width: auto;
}
.jump{
    animation: jump 0.5s cubic-bezier(0.65, 0.05, 0.36, 1); 
}

@keyframes jump {
    0%{
        top: 160px;
    }
    50%{
        top: 80px;
    }
    100%{
        top: 160px;
    }
}