@import url('https://fonts.cdnfonts.com/css/public-pixel');
body{
    padding: none;
    width: 100%;
    display: block;
    margin: 0;
    overflow-x: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    background-color: #202124;
}

.game{
    background-color: #202124;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    width: 100%;
    height: 50vh;
    transition: 1s;
}

.frame{
    position: relative;
    margin: 0 auto;
    max-width: 600px;
    width: 80%;
    height: 100px;
    padding-top: 100px;
    top: 0;
}

.frame::before{
    content: '';
    position: absolute;
    background-color: #202124;
    width: 100%;
    height: 200px;
    left: 0;
    top: 0;
    padding-top: 100px;
    z-index: 99;
    transform: translateX(-100%);
}

.frame::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background-color: #202124;
    width: 100%;
    height: 200px;
    padding-top: 100px;
    z-index: 99;
    transform: translateX(100%);
}

#dino{
    position: absolute;
    bottom: 0;
    z-index: 3;
    height: 40px;
    width: auto;
}

.jump{
    animation: jump 0.7s cubic-bezier(0.65, 0.05, 0.36, 1); 
}

@keyframes jump {
    0%{
        bottom: 0px;
    }
    35%{
        bottom: 60px;
    }
    100%{
        bottom: 0px;
    }
}

#cactus {
    position: absolute;
    bottom: 0;
    left: 580px;
    z-index: 2;
    animation: move 2s infinite linear;
}
 
.ctex1{
    width: 25px;
    height: 40px;
    background-image: url(./Assests/cactus1.png);
    background-size: 25px 40px;
}

.ctex2{
    width: 55px;
    height: 40px;
    background-image: url(./Assests/cactus1.png);
    background-size: 25px 40px;
}

.ctex3{
    width: 15px;
    height: 25px;
    background-image: url(./Assests/cactus1.png);
    background-size: 15px 25px;
}

@keyframes move {
    0%{
        right: 0px;
    }
    100%{
        left: -20px;
    }
}

.floor1, .floor2 {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-image: url(./Assests/floor.png); 
    background-size: auto 100%;
    animation: scroll 4s infinite linear;
}

.floor2 {
    animation-delay: 2s;
    visibility: hidden;
}


@keyframes scroll {
    0%{
        visibility: visible;
        transform: translateX(100%);
    }
    100%{
        visibility: visible;
        transform: translateX(-100%);
    }
}

#gameover{
    display: none;
}

#gameover.gameover{
    display: flex;
    position: absolute;
    justify-content: center;
    top: -20px;
    max-width: 600px;
    width: 100%;
    height: auto;
}

.text{
    position: relative;
    top: 100px;
    transition: 0.5s ease-in-out;
}


#score{
    color: rgb(188, 188, 188);
    font-family: 'Public Pixel', sans-serif;
    font-size: 12px;
    position: absolute;
    top: 50px;
    right: 0;
}

#checkbox{
    font-size: 12px;
    position: relative;
    cursor: pointer;
    top: 105px;
}

#checkbox::after{
    content: 'X';
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    background-color: rgb(0, 136, 255);
    color: black;
}

#checkbox.unchecked::after{
    content: 'X';
    background-color: aliceblue;
}

#skip{
    font-size: 12px;
    position: relative;
    width: 20%;
    padding: 10px 30px 10px 10px;
    color: #FFFFFF;
    border: solid 1px #FFFFFF;
    cursor: pointer;
    top: 110px;
    transition: 0.2s;
    overflow: hidden;
    z-index: 10;
}

#skip::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%) skew(20deg);
    width: 90%;
    height: 100%;
    background-color: #FFFFFF;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: -1;
}

#skip:hover{
    color: #202124;
}

#skip:hover::before{
    width: 100%;
    animation: skipButton 0.5s 1 cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateX(0) skew(0deg);
}

@keyframes skipButton {
    0%{
        transform: translateX(-100%) skew(20deg);
        width: 90%;
    }
    50%{
        transform: translateX(100%) skew(20deg);
        width: 60%;
    }
    100%{
        transform: translateX(0) skew(0deg);
        width: 100%;
    }
}

#bigCactus{
    position: absolute;
    bottom: 0px;
    height: 90px;
    left: 90px;
}
.onScreenCac{
    animation: moveToCenter 2s 1 linear;
}

@keyframes moveToCenter {
    0%{
        left: 580px;
    }
    100%{
        left: 90px;
    }
}

.cutscene{
    left: 650px;
    animation: horizontal 3s 1 ease-in-out;
}

.dinoContainer{
    position: absolute;
    bottom: 0;
    animation: upDown 1s 1 ease-in-out;
}

@keyframes upDown {
    0%{
        bottom: 0px;
    }
    50%{
        bottom: 110px;
    }
    100%{
        bottom: 0px;
    }
}

@keyframes horizontal{
    0%{
        left: 0px;
    }
    30%{
        left: 180px;
    }  
    40%{
        left: 180px;
    }
    100%{
        left: 650px;
    } 
}

@keyframes upDownBounce {
    0%{
        margin-top: 0;
    }
    50%{
        margin-top: 40px;
    }
    100%{
        margin-top: 0;
    }
}

.arrow {
    position: absolute;
    top: calc(100vh - 240px);
    left: calc(50% - 14px);
    border-radius: 2px;
    animation: upDownBounce 2s infinite ease-in-out;
    cursor: pointer;
    opacity: 1;
    transition: 0.4s;
  }
  
.arrow:after {
    content: " ";
    position: absolute;
    top: 12px;
    left: -10px;
    width: 48px;
    height: 48px;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
    border-radius: 4px;
    transform: rotateZ(45deg);
}

.arrow:hover{
    opacity: 0.4;
}


/*Home Page*/

@font-face {
    font-family: 'Bm Hanna';
    src: url(./fonts/BM-HANNA.ttf);
}

.hidden{
    display: none;
}

@keyframes slideUp {
    0%{
        top: 50vh;
    }
    100%{
        top: 0;
    }
}

.gradient-transition{
    top: 0;
    margin: none;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(#202124, #453F3C);
    animation: slideUp 2s 1 ease-out;
}

.navbar-container{
    position: relative;
    top: 0;
    width: 100%;
    height: 80px;
}


.logo{
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo a img{
    width: 40px;
    display: flex;
    align-items: center;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-items{
    width: 80%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-item a{
    font-family: 'Bm Hanna';
    font-size: 20px;
    color: aliceblue;
    padding-right: 40px;
    text-decoration: none;
}

.homepage{
    position: relative;
    padding: 0 50px;
    height: 100vh;
    background-color: #453F3C;
}


.title{
    font-size: 96px;
    margin: 10px 0;
    font-family: 'Bm Hanna';
    color: #FFFFFF;
}

.orange{
    color: #FFA94B;
}

.subheading{
    display: inline;
    font-family: 'Bm Hanna';
    font-size: 24px;
    margin: 100px 0;
    color: #FFFFFF;
}
.subheading::after{
    content: ' LinuxDino';
    color: #7B904B;
}
/*Wave*/
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 362px;
}

.wave .shape-fill {
    fill: #7B904B;
}

.homepage2, 
.homepage3,
.homepage4,
.homepage5{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #453F3C;
}

.homepage2 {
    background-color: #7B904B;
}